*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
   /* Primary */
--Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    /* Neutral */
 --PaleBlue: hsl(243, 100%, 93%);
 --GrayishBlue:hsl(229, 7%, 55%);
 --DarkBlue: hsl(228, 56%, 26%);
 --VeryDarkBlue: hsl(229, 57%, 11%);

}
body{
    font-family: 'Raleway', sans-serif;
    background-color: hsl(229, 57%, 11%);  
}


main{
    max-width: 1000px;
    margin: 20rem auto;
    display: flex;
   
    /* background-image: url("images/bg-desktop.png"); */
}
.first-container{
    background-color: hsl(228, 56%, 26%);
    height: 175px;
    width: 275px;
    border-radius: 5px 75px 5px 5px;
    
}
.fylo{

    margin-left: 30px;
    padding: 15px 0 10px 0;
    margin-top: 10px;
}
.objects{
    padding: 20px;
    display: flex;

}
.objects img{
padding: 5px;

}

.first-container{
    
}
.box{
    height: 50px;
    width: 50px;
    background-color: hsl(229, 57%, 11%);
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.storage{
    margin: 24px;
    padding: 15px;
    height: 150px;
    width: 700px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 15px;
    position: relative;
}
.gb{
    color: white;
    letter-spacing: 2px;
}
.gb span{
    font-weight: 700;
    
}
.meter { 
    height: 15px; 
    width: 100%;
    position: relative;
    background: hsl(229, 57%, 11%);
    border-radius: 25px;
   
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

  
  }
  .storage .meter::after{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    top:50%;
    left: 79%;
     background: hsl(243, 100%, 93%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 1;
  }
  .storage .meter span{
    position: absolute;
    display: block;
    height: 100%;
    width: 81%;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 25px;
    box-shadow: 0 0 5px hsl(335, 100%, 65%);
    

  }
  .left-size{
    font-size: 30px;
    position: absolute;
    padding :20px 25px;
    background-color: white;
    font-weight: 700;
    border-radius: 5px 5px 0 5px;
top:-32px;
right: 14px;

  }
  .left-size span{
    opacity: 50%;
  }
  .storage .meter span::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-color: white White transparent transparent;
    
    top:-32px;
    right: -125px;
  }
  .storage .meter span::after{
    position: absolute;
    content:"";
    color:black;


    

  }
  
  .storage p{
    margin: 15px;
  }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }